
    <p>&nbsp;</p>
    <div id="authors">
        <p><strong>Authors</strong></p>
        <table>
            <tr>
                <th>Name</th>
                <th>Publishing Firm</th>
            </tr>
        </table>
    </div>


    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addAuthor">
            <legend><strong>Add Author</strong></legend>
              <fieldset class="fields">
                <label> First Name </label> <input type="text" name="firstName">
                <label> Last Name </label> <input type="text" name="lastName">
                <label> Publishing Firm </label> <input type="text" name="publisher"> 
              </fieldset>
              <input class="btn" type="submit" id="addAuthor" value="Add a Author">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->


    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addPublisher">
            <legend><strong>Add Publisher</strong></legend>
              <fieldset class="fields">
                <label> Name </label> <input type="text" name="publisherName">
                <label> website </label> <input type="url" name="website">
              </fieldset>
              <input class="btn" type="submit" id="addPublisher" value="Add a Publisher">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->


