
    <p>&nbsp;</p>
    <div id="authors">
        <p><strong>Authors</strong></p>
        <table>
            <tr>
                <th>Name</th>
                <th>Publishing Firm</th>
            </tr>
        </table>
    </div>


    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addAuthor">
            <legend><strong>Add Author</strong></legend>
              <fieldset class="fields">
                <label> First Name </label> <input type="text" name="firstName">
                <label> Last Name </label> <input type="text" name="lastName">
                <label> Publishing Firm </label> <input type="text" name="publisher"> 
              </fieldset>
              <input class="btn" type="submit" id="addAuthor" value="Add a Author">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->


    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addPublisher">
            <legend><strong>Add Publisher</strong></legend>
              <fieldset class="fields">
                <label> Name </label> <input type="text" name="publisherName">
                <label> website </label> <input type="url" name="website">
              </fieldset>
              <input class="btn" type="submit" id="addPublisher" value="Add a Publisher">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->

    <div id="update" style="display: block">
        <form id="updateAuthor">
            <legend><strong>Update author</strong></legend>
                <fieldset class="fields">
                  <label> First Name </label> <input type="text"  name="firstName">
                  <label> Last Name</label> <input type="text"  name="lastName">
                  </fieldset>
          <input class="btn" type="submit" id="UpdateSaveMember" value="Save Update Member">
                <input class="btn" type="button" value="cancel" >
        </form> 
      </div><!-- update -->

          <div id="update" style="display: block">
        <form id="updatePublisher">
            <legend><strong>Update publisher</strong></legend>
                <fieldset class="fields">
                  <label> Name </label> <input type="text"  name="Name">
                  <label>Webiste</label> <input type="url"  name="website">
                  </fieldset>
          <input class="btn" type="submit" id="UpdateSavePublisher" value="Save Update Publisher">
                <input class="btn" type="button" value="cancel" >
        </form> 
      </div><!-- update -->

          <div id="delete" style="display: block">
        <form id="deletePublisher">
            <legend><strong>Delete Publisher</strong></legend>
              <fieldset class="fields">
                <label>Enter Publisher ID</label> <input type="text" name="publisherID">
              </fieldset>
              <input class="btn" type="submit" id="deletePublisher" value="Delete a Publisher">
              <input class="btn" type="button" value="cancel">
        </form> <!--delete publisher-->
    </div><!-- insert -->

        <div id="delete" style="display: block">
        <form id="deleteAuthor">
            <legend><strong>Delete Author</strong></legend>
              <fieldset class="fields">
                <label>Enter Author ID</label> <input type="text" name="authorID">
              </fieldset>
              <input class="btn" type="submit" id="deleteAuthor" value="Delete a author">
              <input class="btn" type="button" value="cancel">
        </form> <!--delete author-->
    </div><!-- insert -->



