



    <p>&nbsp;</p>
    <div id="BorrowingTransaction">
        <p><strong>Transaciton history for :name_input</strong></p>
        <table>
            <tr>
                <th>transacitonID</th>
                <th>title</th>
                <th>dateBorrowed</th>
                <th>dateDue</th>
            </tr>
        </table>
    </div>
	<script src="index.js"></script>
