

<h1>Online Library Database System</h1>
<p>
<b>This section of text appears on every html and js page just commented out<br></b>
<ol>
<li> Citation for the following page </li>
<li> Date: 3/18/2024</li>
<li> Copied from /OR/ Adapted from /OR/ Based on </li>
<li> Everything here and through out the other pages are copied from the link below,</li>
<li>   and just updated to work specifically with our own database.  Eventually we were able to </li>
<li>   to code everything with out help but it still followed the same basic format of the repository</li>
<li> Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app</li>
</ol>
</p>

<h2>Overview</h2>
<ul>
    <li>The following website is meant to facilitate database interactions </li>
    <li>For the following pages everything is dynamically displayed</li>
    <li>foreign keys have drop box as do update fields for ID</li>
    <li>Every page has functionality for adding and deleting entity</li>
    <li>Update is available on books, BorrowingTransactions, and members</li>
    <li>Borrowing Transactions is our M:M relationship, it faciliates interactions between members and books</li>
    <li>If you delete a book or member any following transactions will be deleted</li>
    <li>The relationship between publishers and books can be set to NULL when updating</li>

</ul>
